<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pdx.radar.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.pdx.radar.pojo.Menu">
        <id property="id" column="id"/>
        <result property="enabled" column="enabled"/>
        <result property="url" column="url"/>
        <result column="path" property="path"/>
        <result column="component" property="component"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="keep_alive" property="keepAlive"/>
        <result column="require_auth" property="requireAuth"/>
        <result column="parent_id" property="parentId"/>
    </resultMap>

    <resultMap id="Menus" type="com.pdx.radar.pojo.Menu" extends="BaseResultMap">
        <collection property="children" ofType="com.pdx.radar.pojo.Menu">
            <id property="id" column="id2"/>
            <result property="enabled" column="enabled2"/>
            <result property="url" column="url2"/>
            <result column="path2" property="path"/>
            <result column="component2" property="component"/>
            <result column="name2" property="name"/>
            <result column="icon2" property="icon"/>
            <result column="keepAlive2" property="keepAlive"/>
            <result column="requireAuth2" property="requireAuth"/>
            <result column="parentId2" property="parentId"/>
        </collection>
    </resultMap>

    <resultMap id="MenusByRole" type="com.pdx.radar.pojo.Menu" extends="BaseResultMap">
        <collection property="roles" ofType="com.pdx.radar.pojo.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnameZh" property="nameZh"/>
            <result column="renabled" property="enabled"/>
        </collection>
    </resultMap>

    <!--根据用户id查询菜单-->
    <select id="getMenusByUserId" resultMap="Menus">
        SELECT
            DISTINCT
            m1.*,
            m2.id as id2,
            m2.url as url2,
            m2.path as path2,
            m2.component as component2,
            m2.`name` as name2,
            m2.icon as icon2,
            m2.keep_alive as keepAlive2,
            m2.require_auth as requireAuth2,
            m2.parent_id as parentId2,
            m2.enabled as enabled2
        FROM
            r_menu m1,
            r_menu m2,
            r_user_role ur,
            r_menu_role mr
        WHERE
            m1.id = m2.parent_id
          AND
            m2.id = mr.m_id
          AND
            mr.r_id = ur.r_id
          AND
            ur.u_id = #{id}
          AND
            m2.enabled = TRUE
    </select>
    <!--根据角色获取菜单列表-->
    <select id="getMenusByRole" resultMap="MenusByRole">
        SELECT
            m.*,
            r.id as rid,
            r.`name` as rname,
            r.name_zh as rnameZh,
            r.enabled as renabled
        FROM
            r_menu m,
            r_menu_role mr,
            r_role r
        WHERE
            m.id = mr.m_id
          AND
            r.id = mr.r_id
        ORDER BY m.id
    </select>

</mapper>
